.green_dot {
  height: 10px;
  width: 10px;
  background-color: #00FF00;
  border-radius: 50%;
  display: inline-block;
}

.red_dot {
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}